* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", "sans-serif"; */
  font-family: "Bebas Neue", "Poppins", "sans-serif";
  font-family: "Rubik", sans-serif;
  color: #ffff;

  html,
  body {
    height: 100%;
    width: 100%;
    background: transparent;
    perspective: 900px;

    body::-webkit-scrollbar {
      display: none;
    }

    #nav {
      height: 100px;
      width: 100%;
      /* background-color: red; */
      display: flex;
      align-items: center;
      padding: 0 120px;
      gap: 50px;
      position: fixed;
      justify-content: flex-start;
      z-index: 999;

      img {
        height: 50px;
        border-radius: 10%;
      }

      h4 {
        text-transform: uppercase;
        font-weight: 500;
        cursor: pointer;
        font-size: 1.15vw;
      }
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: fixed;
      z-index: -1;
    }

    #cursor {
      height: 20px;
      width: 20px;
      background-color: rgba(255, 255, 255, 0.593);
      border-radius: 50%;
      position: fixed;
      z-index: 99;
      transition: all linear 0.1s;
      filter: blur(5px);
    }

    #cursor-blur {
      height: 300px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.479);
      border-radius: 50%;
      position: fixed;
      filter: blur(80px);
      z-index: 9;
      transition: all linear 0.4s;
    }

    #main {
      position: relative;
      background-color: rgba(0, 0, 0, 0.45);

      #page1 {
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 10;

        h1 {
          font-size: 8.5vw;
          font-weight: 900;
          position: relative;
        }

        h1::before {
          content: "Lorem.Lorem.Lorem.";
          position: absolute;
          color: black;
          top: -3px;
          left: -5px;
          /* -webkit-text-stroke: 0.5px #ffffff; */
          z-index: -1;
        }

        h2 {
          font-size: 30px;
          font-weight: 800;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        p {
          font-size: 1.2vw;
          font-weight: 500;
          width: 40%;
        }
      }

      #page2 {
        min-height: 80vh;
        width: 100%;
        z-index: 10;

        #scroller {
          /* background-color: red; */
          overflow-x: auto;
          overflow-y: hidden;
          position: relative;
          z-index: 10;
          overflow: hidden;
          position: relative;

          #scroller-in {
            display: inline-block;
            white-space: nowrap;
            animation-name: scroll;
            animation-duration: 20s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            h4 {
              display: inline-block;
              font-size: 120px;
              font-weight: 900;
              font-family: gilroy;
              margin-right: 20px;
              transition: all linear 0.3s;
              color: #000;
              -webkit-text-stroke: 2px black;
            }

            h4:hover {
              color: white;
              -webkit-text-stroke: 2px blue;
            }
          }
        }

        #scroller::-webkit-scrollbar {
          display: none;
        }

        #about-us {
          margin-top: 6rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          img {
            border-radius: 5%;
          }

          #about-us-in {
            width: 50%;
            text-align: center;

            h3 {
              margin-bottom: 2rem;
            }
          }
        }

        #cards-container {
          /* background-color: red; */
          height: 60vh;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 70px;
          position: relative;
          z-index: 10;

          .card {
            height: 80%;
            width: 24%;
            /* background-color: blue; */
            border-radius: 20px;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            transition: all ease 0.9s;

            .overlay {
              height: 100%;
              width: 100%;
              background-color: #ffffffe1;
              padding: 30px;
              padding-top: 160px;
              opacity: 0;
              transition: all ease 0.1s;

              h4 {
                color: #000;
                font-size: 30px;
                text-transform: uppercase;
                white-space: nowrap;
                margin-bottom: 20px;
                font-weight: 800;
              }

              p {
                color: #000;
                font-size: 18px;
              }
            }

            :hover {
              opacity: 1;
            }
          }

          .card:hover {
            transform: rotate3d(-1, -1, 0, 20deg);
          }

          #card1 {
            background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
          }

          #card2 {
            background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
          }

          #card3 {
            background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
          }
        }

        #green-div {
          height: 30vh;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* background-color: red; */
          background: linear-gradient(to left bottom, #119f3a, #ace022);

          img {
            height: 100%;
            object-fit: cover;
            width: 15%;
          }

          h4 {
            width: 45%;
            line-height: 50px;
            color: #000;
            text-align: center;
            font-weight: 800;
            font-size: 27px;
            text-transform: uppercase;
          }
        }
      }

      #page3 {
        height: 100vh;
        width: 100%;
        background-color: #000;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;

        p {
          font-size: 35px;
          font-weight: 700;
          width: 60%;
          line-height: 45px;
          text-align: center;
        }

        img {
          position: absolute;
          height: 60px;
        }

        #colon1 {
          left: 15%;
          top: 25%;
        }

        #colon2 {
          bottom: 30%;
          right: 15%;
        }
      }

      #page4 {
        height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: relative;

        h1 {
          font-size: 6.4vw;
          position: absolute;
          top: -15%;
          font-weight: 900;
          font-family: gilroy;
          color: #000;
          -webkit-text-stroke: 2px #fff;
        }

        .elem {
          height: 70%;
          width: 26%;
          overflow: hidden;
          border-radius: 20px;
          position: relative;

          h2 {
            height: 100%;
            width: 100%;
            background-color: #95c11e;
            display: flex;
            color: #000;
            font-weight: 800;
            align-items: center;
            justify-content: center;
            transition: all ease 0.5s;
            font-size: 2vw;
            position: absolute;
            z-index: 10;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all ease 0.5s;
            scale: 1.1;
          }
        }

        :hover h2 {
          color: #fff;
          background-color: transparent;
        }
      }
      #footer {
        height: 40vh;
        width: 100%;
        background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6.5vw;
        padding: 0 100px;

        img {
          position: absolute;
          left: 0;
          height: 100%;
          z-index: 0;
        }
        #f1 img {
          height: 100px;
        }

        #f1,
        #f2,
        #f3,
        #f4 {
          width: fit-content;
          position: relative;
          z-index: 99;
          /* background-color: red; */
        }


        #f2 h3 {
          font-size: 1.6vw;
          white-space: nowrap;
          text-transform: uppercase;
          color: #000;
          font-weight: 900;
          margin-bottom: 8px;
        }
        
        #f3 h3 {
          font-size: 1.6vw;
          white-space: nowrap;
          text-transform: uppercase;
          color: #000;
          font-weight: 800;
          margin-bottom: 8px;
        }
        #f4 h4 {
          font-size: 1vw;
          white-space: nowrap;
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
          line-height: 20px;
          margin-bottom: 8px;
        }
        
      }
    }
  }
}

/* sroller and animation  */

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
